<section id="player">
	<div class="player">
		<img id="player-image" src="<%- props.defaultImage %>" />
		<div class="controls">
			<i class="fa fa-step-backward fa-lg" id="previous"></i>
			<i class="fa fa-play fa-lg" id="play"></i>
			<i class="fa fa-step-forward fa-lg" id="next"></i>
			<div class="scroller-container">
				<p id="timeCurrent"></p>
				<div class="scroller"></div>
				<p id="timeEnd"></p>
			</div>
		</div>
		<p class="player-info"></p>
	</div>

	<audio id="audio-player"></audio>
</section>
