:host {
  @import "../../../../scss/variables";
  @import "../../../../scss/font-awesome/font-awesome";
  color: var(--main-content--color);

  section {
		&#player {
			width: 100%;
			position: relative;
		}
  }

  audio {
		opacity: 0;

  }

  div {
		&.player {
			display: flex;
			align-items: center;
			height: 80px;
			margin: 0;
			padding: 0;

			img {
				margin-left: 12px;
				max-width: 64px;
				height: auto;
				border-radius: 4px;
				box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
			}

		  .controls {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
			margin: 0 auto;
			flex-wrap: wrap;

			i {
			  margin: 0 20px;
			  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
			}

			div {
			  //&.scroller-container {
				//width: 100%;
				//background: rgba(0, 0, 0, 0.5);
				//height: 14px;
				//border-radius: 10px;
				//margin-top: 15px;
				//margin-bottom: -15px;
			  //}
			}

		  }

		  p {
			&.player-info {
			  position: absolute;
			  left: 100px;
			  top: 30px;
			  margin: 0;
			  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
			  font-size: 0.9rem;
			}
		  }
		}
  }

}
