// Import bootstrap sass variables
@import "~bootstrap/scss/_variables";

.home {
  @import "../../../../scss/variables";
  color: var(--main-content--color);

  position: fixed;
  top: var(--content-top);
  left: var(--content-left);
  height: var(--content-height);
  width: var(--content-width);
  background: var(--main-content-bg);
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;

  @media (max-width: 852px) {
	width: 100vw;
	margin: 0;
	left:0;
  }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
  }

  &::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.6);
  }

  &::-webkit-scrollbar-thumb:focus {
    background: rgba(0, 0, 0, 0.6);
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.15);
  }

  & > div {
    margin: 20px 10px;

	@media (max-width: 452px) {
	  width: 100%;
	}

	@media (max-width: 652px) and (min-width: 453px) {
	  width: 50%;
	}

    @media (max-width: 1200px) and (min-width: 653px) {
      width: 30%;
    }

    @media (min-width: 1200px) {
      width: 15%;
    }
  }

}
