// Import bootstrap sass variables
@import "../../../../../node_modules/bootstrap/scss/variables";

:root {

  .player {
	@import "../../../scss/variables";

	#player-container {
	  position: fixed;
	  bottom: 0;
	  left: 0;
	  width: var(--player-width);
	  background: var(--main-bg-color);
	  height: var(--player-height);
	  z-index: var(--player-z-index);
	  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
	}
  }


}
