:host {
  @import "../../../../scss/variables";
  color: var(--main-content--color);

  section {

	&#sidebar {
	  height: var(--sidebar-height);
	  overflow: hidden;

	  ul {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		& > a {
		  padding: 10px;
		  width: 100%;
		  text-align: center;
		  color: var(--main-content--color);
		  text-decoration: none;

		  & > li {
			list-style: none;
		  }

		  &:hover {
			background: rgba(0, 0, 0, 0.2);
		  }
		}
	  }
	}
  }

}
