* {
  --main-bg-color: #333;
  --main-content-bg: #333;
  --main-content--color: #FFF;
  --main-outline-color: blue;
  --default-box-shadow: 2px 2px 4px rgba( 0, 0, 0, 0.3);
  --topBar-height: 32px;

  --topbar-player-height: calc(var(--topBar-height) + var(--player-height));

  --sidebar-height: calc(100vh - var(--topbar-player-height));
  --sidebar-min-width: 200px;
  --sidebar-width: var(--sidebar-min-width);
  --sidebar-top: var(--topBar-height);
  --sidebar-z-index: 2;

  --content-width: calc(100vw - var(--sidebar-width));
  --content-height: calc(100vh - var(--topbar-player-height));
  --content-top: var(--topBar-height);
  --content-left: var(--sidebar-width);

  --player-height: 80px;
  --player-width: 100%;
  --player-z-index: 3;
}
