<div class="song" style="background-image: url(<%- artwork %>)" data-song="<%- src %>">
	<div class="hover"><i class="fa fa-play"></i></div>
	<p>
		<span><%- title %></span> <br />
		<span><%- artist %></span>
	</p>
</div>
