// Import bootstrap sass variables
@import "../../../../../node_modules/bootstrap/scss/variables";

:root {

  .topbar {
	@import "../../../scss/variables";

	#topbar-container {
	  position: fixed;
	  top: 0;
	  margin: 0;
	  height: var(--topBar-height);
	  width: 100vw;
	  background: var(--main-bg-color);
	  box-shadow: var(--default-box-shadow);
	  z-index: 3;
	}
  }


}
